@import 'tailwindcss';

:root {
  --background: #f1f3f5;
  --foreground: #203753;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-space-grotesk);
  --font-mono: var(--font-geist-mono);
}

.dark {
  --background: #1a1c22;
  --foreground: #e1e7ef;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
}
